<ul class="breadcrumb">
    <li><a href="#">管理</a> <span class="divider">/</span></li>
    <li><a href="#">菜系</a> <span class="divider">/</span></li>
    <li class="active">菜系列表(已发布)</li>
</ul>

<p>
<form class="form-search" action="/admin/searchcai" method="post" >
    <div class="input-append">
        <input type="text" name="title" class="span6 search-query" placeholder="菜名">
        <button type="submit" class="btn">Search</button>
    </div>
</form>
</p>

<table class="table table-bordered">
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>IMG</th>
        <th>操作</th>
    </tr>

    <% cailist.forEach(function(cai){

    %>

    <tr>
        <td><%- cai.id%></td>
        <td><%- cai.title %></td>
        <td><img src="/uploads/<%- cai.img %>" style="height:50px;width:50px;" title="<%- cai.title %>"/></td>
        <td><a href="/admin/editcaipu/<%-cai.id %>">edit</a></td>
    </tr>

    <%
    });
    %>
</table>

<% if(page-1){ %>
<span style="float:left"><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>

<% } %>

<% if(caixiLen==10){ %>
<span style="float:right"><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
<% } %>