<ul class="breadcrumb">
    <li><a href="#">管理</a> <span class="divider">/</span></li>
    <li><a href="#">分类</a> <span class="divider">/</span></li>
    <li class="active">添加分类</li>
</ul>
<form class="form-horizontal" method="post" action="">
    <legend>添加分类</legend>
    <div class="control-group">
        <label class="control-label" for="name">中文名称</label>
        <div class="controls">
            <input type="text" id="name" name="name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="ename">英文名称</label>
        <div class="controls">
            <input type="text" id="ename" name="ename">
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">添加</button>
        </div>
    </div>
</form>